
*{
     background-color: white;
    color: white; 
    font-style:Gowun Batang;
    align-items: center;
    text-align: center;
    color:black;
    
}
.header{
    height: 45px;
    width: 100%;
    background-color: white;
    display: flex; 
    align-items: flex-start; 
    /* margin-bottom: 450px; **/
    font-style: Gowum Batang;
    
   

}
.navlogo{
    height: 30px;
    width: 100px;
    background-color: transparent;
    margin-top: 7px;
    font-size: 1.5rem;
    border-radius: 5%;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 2px solid #f9fbfc;
    transition: border-color 0.8s;
    
   
    
}
.navlogo:hover{
    border:  2px solid rgb(114, 114, 191);
  background-color: rgb(156, 156, 243);
   
}
.hgr{
    height: 0.001rem;
    width: 100%;
}
/* .hrbr{
    background-color: white;
    height: 1px;
    width: 100%;
} */
#h{
    height: 30px;
    width: 50px;
    background-color:  transparent;
    margin-top: 7px;
    font-size: 1.5rem;
    border-radius: 5%;
    margin-left: 60px; 
    border-radius: 5px;
    margin-bottom: 5px;
    transition:border-color 0.5s;
    font-weight: 100;
    border: 2px solid #f9fbfc;
    margin-right: 30px;
}
#h1{
    
    height: 30px;
    width: 350px;
    background-color: transparent;
    margin-top: 7px;
    font-size: 1.3rem;
    border-radius: 10px;
    margin-right: 20px;
    border: 2px solid #f9fbfc;
    transition: border-color 0.5s;
    background-color: rgb(156, 156, 243);
   
}

/* .sb{
    height: 35px;
    
    width: 400px;
    border: 2px solid white;
    border-radius: 5px;
    
   
    
}
.btn{
    border-radius: 20%;
    height: 40px;
    width: 40px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 0.5rem;
    font-size: 1rem; 

 } */ 
 .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sb {
    /* padding: 10px 15px; */
    font-size: 1rem;
    font-weight: 100;
    border: 2px solid #f9fbfc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    width: 400px;
    margin-bottom: 10px;
    height: 30px;
    padding-top: 10px;
    /* margin-left: 30px; */
    
}

.sb::placeholder {
    color: #5b6877;
    font-style: Gowun Batang;
}

.sb:focus {
    border-color: rgb(114, 114, 191);
    /* background-color: rgb(156, 156, 243);; */
}
/* .sb.placeholder:hover{
  opacity: 0.1;
} */
#menu{
    font-size: 1.5rem;
    margin-top: 7px;
    margin-left: 40px;
    border: 2px solid #f9fbfc;
   
   border-radius: 5px;
   border: 2px solid #f9fbfc;
   transition: border-color 0.5s;
  
}
#menu:hover{
    /* font-size: 1.5rem; */
    /* color: rgb(156, 156, 243); */
    /* background-color: rgb(156, 156, 243); */
    /* border: 2px solid rgb(114, 114, 191); */
    border:rgb(156, 156, 243)
}
#btn {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    margin-right: 30px;
    outline: none;
}

#btn:hover {
    /* color: rgb(156, 156, 243); */
     /* background-color: #2a3e53;  */
    /* font-size: 2.2rem; */
    border: 2px solid rgb(114, 114, 191);
    transition: border-color 1s;
   
}
#h:hover{
    /* color: rgb(156, 156, 243); Blue border on hover (optional) */
    /* font-size: 1.1rem; */
    border: 2px solid rgb(114, 114, 191);
    transition: border-color 1s;
    

    /* background:rgb(156, 156,253) ; */
    /* color: rgb(156, 156, 243); /*Blue border on hover (optional) */
    
    
}
#h1:hover{
  
    /* font-size: 1rem; */
    /* background-color:rgb(31, 32, 41)  */
    /* border:2px solid rgb(156, 156, 243); Blue border on hover (optional) */
    /* background-color: rgb(138, 138, 174); */
    /* backface-visibility: 0.5; */
    background-color: rgb(153, 244, 201);
    transition: border-color 1s;
    border-radius: 5px;
    border: 2px solid rgb(154, 193, 248);
}
#btn i {
    font-size: 18px;
}
.hx:hover{
    text-decoration: underline;
    color: rgb(114, 114, 191);
}

.footer{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 252, 252); 
    display: flex;
    align-items: flex-start;
    visibility: 15%;
    /* margin-top: 800px;  */
    font-size: 0.9rem;
}
.hx{
    height: 40px;
    width: 100px;
    background-color: transparent;
    margin-top: 7px;
    text-decoration: none;
    border-radius: 5%;
    margin-left: 30px;
}
.intro{
    /* display: flex;   */
    /* align-items: left;  */
    margin-left: 42px;
    font-size: 0.9rem;

}
.Faq{
    background-color: transparent;
    display: flex; 
    align-items: flex-start; 
    margin-left: 2%;
    font-style: italic;
    font-size: 1.25rem;
    margin-left: 55px;

}
.greeting {
    font-size: 1.9rem;
    font-style: Gowun Batang;
    margin-left: 400px; 
    border: 2px solid #f9fbfc;
    transition: border-color 0.5s;
    height: 35px;
    width: 280px;
    background-color:rgb(156, 156, 243);
    border-radius: 10px;
    
}
.social{
    margin-right: 87%;
    margin-top: 5px;
    font-size: 0.8rem;
    margin-left: 55px;
    text-decoration: underline;
}
.hbr2{
    background-color: white;
    height: 1px;
    width: 100%;
}
#hg{
    margin-bottom: 500px;
} 
